<div ng-controller="TreinosCtrl">
	<div ng-show="formTreino">
		<form ng-submit="addTreino()">
		<div class="mdl-card mdl-shadow--2dp" style="width: 385px;">

            <a class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored top-add"
				ng-click="formAparelho()">
			  		<i class="material-icons">add</i>
			</a>
		  <div class="mdl-card__title">
		    <h2 class="mdl-card__title-text">Cadastrar Treino</h2>

		  </div>

		  <div class="mdl-card__supporting-text">
		   
			  <div class="mdl-textfield mdl-js-textfield">
			    <input class="mdl-textfield__input" ng-model="treino.nome" type="text" id="sample1" placeholder="Nome do Treino">
			  </div>

			  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
		  <thead>
		    <tr>
		      <th>Aparelho</th>
		      <th>Série</th>
		      <th>Carga</th>
		      <th></th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr ng-repeat="aparelho in treino.aparelhos">
		      <td>{{aparelho.nome}}</td>
		      <td>{{aparelho.serie}} x {{aparelho.repeticao}}</td>
		      <td>{{aparelho.carga}}</td>
		      <td><a ng-click="removeAparelho(aparelho)"><i class="material-icons">clear</i> </a></td>
		    </tr>
		  </tbody>
		</table>
		<br/>

		<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
			  	Salvar
			  </button>

		  </div>
		</div>
		
		</form>
	</div>
	<div ng-show="!formTreino">

		<div class="mdl-card mdl-shadow--2dp">
		  <div class="mdl-card__title">
		    <h2 class="mdl-card__title-text">Adicionar Aparelho</h2>

		  </div>
		  <div class="mdl-card__supporting-text">
		   
		   <form ng-submit="addAparelho()">
			  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			    <input class="mdl-textfield__input" ng-model="aparelho" type="text" id="aparelho"
			    placeholder="Aparelho">
			  </div>
			  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			    <input class="mdl-textfield__input" ng-model="serie" type="text" id="serie" placeholder="Série">

			  </div>
			  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			    <input class="mdl-textfield__input" ng-model="repeticao" type="text" id="repet" placeholder="Repetição">
			  </div>

			  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			    <input class="mdl-textfield__input" ng-model="carga" type="text" id="carga" placeholder="Carga">
			  </div>

			  <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
			  	Adicionar
			  </button>
			</form>

		  </div>
		</div>

	</div>
</div>
